@model Vistoria_projeto.Models.ChecklistVistoria

<h2>Detalhes da Vistoria</h2>

<div class="card p-4 shadow-sm">

    <h4>@Model.Imovel</h4>
    <p><strong>Responsável:</strong> @Model.Responsavel</p>
    <p><strong>Status:</strong> @Model.Status</p>
    <p><strong>Data:</strong> @Model.Data.ToString("dd/MM/yyyy")</p>

    <hr />

    <h5>Foto</h5>
    @if (!string.IsNullOrEmpty(Model.CaminhoFoto))
    {
        <img src="@Model.CaminhoFoto" class="img-fluid border" style="max-width:350px;" />
    }
    else
    {
        <p><i>Nenhuma foto enviada.</i></p>
    }

    <hr />

    <h5>Assinatura Digital</h5>

    @if (Model.LaudoAssinado)
    {
        <p class="text-success">
            ✔ Assinado por: <strong>@Model.AssinadoPor</strong><br />
            <small>@Model.DataAssinatura?.ToString("dd/MM/yyyy HH:mm")</small>
        </p>
    }
    else
    {
        <p class="text-danger">❌ Documento ainda não assinado.</p>

        <form method="post" asp-action="AssinarLaudo" asp-route-id="@Model.Id" class="mb-3">
            <label>Assinar manualmente:</label>
            <input type="text" name="nomeAssinatura" class="form-control mb-2" placeholder="Seu nome" required />
            <button class="btn btn-primary">Assinar</button>
        </form>
    }

    <hr />

    <a href="/Checklist/BaixarPDF/@Model.Id" class="btn btn-success mt-3">
        Baixar PDF
    </a>

</div>
